form{
    background-color: rgb(29, 28, 28);
    text-align: left;
    margin-left: 1.5em;
    min-width: fit-content;
    max-width: 100%;
    height: fit-content;
    border-radius: 1rem;
    border-width: 0.1em;
    border-style: solid;
    border-color: #7A09F7;
    font-size: 90.5%;
    
}

form hr{
    border: none;
    border-radius: 1px;
    background-image: linear-gradient(90deg, #7A09F7, #a252fd);
    height: 1px;
 
}

form h2{
    text-align: center;
    font-size: 4.9em;
    font-style: bold;
    color: rgb(255, 255, 255);

}


form label, input {
    display: flexbox;
    padding-bottom: 15px;
    font-size: 2.1em;
    color: rgb(255, 255, 255);
}
.formluario{
    display: grid;
}

form label{
    margin-left: 0.5em;
    color: rgb(255, 255, 255);
    font-size: 3em;
}

form input{
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    text-align: left;
    font-size: 2.1em;
    width: 40vw;
    border-style: solid;
    border-width: 3px;
    border-color: #7A09F7;

    
}

form ::placeholder{
    text-transform: lowercase;
    font-size: 1.1em;
    padding-left:15px ;

    color:#000000;
}

.enviar{
    border-style: none;
    font-size: 3.5em;
    width: min(160px 20vw);
    padding: 0.5em;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(90deg, #7A09F7, #a252fd);
}

.custom-checkbox input,
.custom-radio input{
  display: none;
}

.custom-checkbox{
    padding-top: 2em;
    padding-bottom: 2em;
}

.custom-checkbox input + label:before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 0.4em;

  border: 1px solid gray;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 3px;
}

.custom-checkbox input:checked + label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #7A09F7;
    background-position: center;
    border: none;
    padding: 1px;
  }

#form{
    margin-bottom: 5em;
}

