body {
	font-family: 'Work Sans', sans-serif;
	background-image: linear-gradient(46deg, #7A09F7 , #ffffff, #7A09F7, #ffffff, #7A09F7);

}

header {
	background-image: linear-gradient(45deg, #7A09F7, #9f4dfd );
	padding: 10px 0;
	font-family: 'Work Sans', sans-serif;
}


.botoes{
	position: relative;
	top: -60px;
	opacity: 60%;
}

#contato {
	position: relative;
	background-color: #7A09F7;
	color: #fff;
	text-decoration-line: none;
	padding: 5px;
	border-radius: 10px;
	top: 20vh;
	left: -2vh;
	font-size: 24px;
	opacity: 60%;
	border: none;

}
#contato:hover {
	background-color: #fff;
	color: #9f4dfd;
	font-size: 36px;
} 


header .caixa {
	position: relative;
	width: 96%;
	height: 100px;
	margin: 0 auto;
}

.vantagens video{
	position: relative;
	top: 30vh;
	left: 50%;
	width: 50%; 
	height: 50%;
	transform: translate(-50%,-50%);
	padding: 30px;
	opacity: 55%;
	border-radius: 50px;
	
}


.video-text{
	position: absolute;
	top: 20vh;
	left: 61vh;
	text-align: center;
	font-size: 4rem;
	font-family: "Cookie";
	color: rgb(255, 255, 255);
	padding: 20px;
	margin: 15px;
	z-index: 1;
	opacity: 100%;

}

.video-text .titulo-video{
	background-color: #7A09FF;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 2px;
	opacity: 30%;
}
 .texto-produto{
	background-image: linear-gradient(45deg, #7A09F7, #9f4dfd );
	color:white ;
	position: relative;
	left: 50%;
	padding-right: 540px;
	padding-top: 20px;
	transform: translate(-50%,-50%);
	top: 30vh;
	width: 1000px;
	height: 500px;
	border-radius: 15px;

}


.texto-produto h2{
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
}


.texto-produto p{
	text-align: center;
	justify-self: center;
	font-size: 18px;
	padding: 10px;
}

.texto-produto ul{
	text-align: center;
	justify-self: center;
	margin-bottom: 5px;
	font-size: 18px;
	padding: 10px;
}



nav {
 	position: absolute;
	top: 100px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	background-color: #ffffff;
	padding: 10px;
	border-radius : 15px;
	text-transform: uppercase;
	color: #7A09FF;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;

}

nav a:hover {
	background-color: #cea8fa;
	color: #ffffff;
	font-size: 24px;
	opacity: 100%;
}

nav a:active {
	color: #2FA2F6;

}

.jumbotron{
	color: #FFFFFF;
}

.jumbotron h1 {
	font-size: 35px;
	text-align: center;
	margin-top: 10px; 
	padding: 20px;
	text-transform: uppercase;
}

.jumbotron p{
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
}

.vantagens {
	width: 96%;
	padding: 20px 0;
	color: #FFFFFF;
}

.vantagens li {
	display: inline;
	text-align: center;
	width: 96%;
	padding: 50%;
	margin-left: 50px;
	margin-top: 50px;
}

.vantagens h2 {
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	margin-top: 40px;
	margin-left: 35%;
}

.vantagens p {
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 150px;
}

footer {
	display: inline-block;
	background-image: linear-gradient(45deg, #7A09F7, #9f4dfd)  ;
	color: #FFFFFF;
	width: 98.3%;
	height: 20vh;
	text-align: center;
	padding: 15px;
	font-size: 12px;
}

.text-rodape{
	font-size: 14px;
	position: relative;
	top: -500vh;
	left: -3vh;

}