body {
	color: white;
	font-size: 50.5%;
	height: fit-content;
}


header {
	top: 5px;
	position: relative;
	display: flex;
	height: 15vh;
	width: 92%;
	z-index: 100;
	border-radius: 30px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(90deg, #7A09F7, #a252fd);
	color: white;
}

header .img-logo {
	position: absolute;
	top: -3vh;

	width: 560px;
	height: 210px;
}

.produtos-layer {
	position: relative;
	display: flex;
}

.video-block {
	position: relative;
	top: 15vh;
	background-image: linear-gradient(90deg, #7A09F7, #a252fd);
	border-style: solid;
	border-radius: 30px;
	border-color: #7A09F7;
	border-width: 1px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1vh;
	padding: 1em;
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	text-align: center;
	color: #ffffff;
	
	width: 90%;

}

.video-block video {
	border-radius: 5%;
	width: 60%;

}

.video-text {
	display: flex;
	flex-direction: column;
}

.video-text h1 {
	margin: 1%;
	font-size: 4.9em;
}

.video-text p {
	margin: 1%;
	font-size: 3em;
}

.descricao {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.descricao h2 {
	margin: 1%;
	font-size: 4.9em;
}

.descricao p {
	margin: 1%;
	font-size: 3em;
}

.descricao hr {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	height: 1px;
	border-style: none;
	background-image: linear-gradient(90deg, #7A09F7, #fdfdfd);
}

.fundo-desc {
	position: relative;

	background-color: rgb(255, 255, 255);
	color: black;
	padding: 10px;

	border-style: solid;
	border-radius: 15px;
	border-width: 0.1px;
	border-color: #7A09F7;

	display: flex;
	align-items: center;
	font-size: 1.8em;
	width: 93%;

	left: 50%;
	transform: translateX(-50%);
}

.fundo-desc img {
	border-radius: 20px;
	height: 300px;
	width: 300px;
}

.fundo-desc p {
	text-align: left;
	margin: 1%;
	font-size: 1.5em;
}

#desc-invertida {
	display: flex;
	flex-direction: row-reverse;
	text-align: right;
}

@media (max-width: 1024px) {
	body {
		font-size: 90.5%;
	}


	header .img-logo {
		top: -10%;
		left: -10%;
		width: 800px;
		height: 360px;
	}


	form input {
		padding: 0.5em;
		background-color: rgb(255, 255, 255);
		border-radius: 10px;
		margin: 10px;
		text-align: left;
		font-size: 2.1em;
		width: 90%;
		border-style: solid;
		border-width: 3px;
		border-color: #7A09F7;


	}

	.video-block video {
		border-radius: 5%;
		width: 100%;

	}

	.fundo-desc {
		padding: 20px;
	}
}
